<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>id</key>
	<string>com.discuz.default</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默认</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
<array>
	<dict>
		<key>png</key>
		<string>smile.png</string>
		<key>chs</key>
		<string>#[01_01]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>sad.png</string>
		<key>chs</key>
		<string>#[01_02]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>biggrin.png</string>
		<key>chs</key>
		<string>#[01_03]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>cry.png</string>
		<key>chs</key>
		<string>#[01_04]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>huffy.png</string>
		<key>chs</key>
		<string>#[01_05]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>shocked.png</string>
		<key>chs</key>
		<string>#[01_06]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>tongue.png</string>
		<key>chs</key>
		<string>#[01_07]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>shy.png</string>
		<key>chs</key>
		<string>#[01_08]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>titter.png</string>
		<key>chs</key>
		<string>#[01_09]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>sweat.png</string>
		<key>chs</key>
		<string>#[01_10]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>mad.png</string>
		<key>chs</key>
		<string>#[01_11]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>lol.png</string>
		<key>chs</key>
		<string>#[01_12]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>loveliness.png</string>
		<key>chs</key>
		<string>#[01_13]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>funk.png</string>
		<key>chs</key>
		<string>#[01_14]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>curse.png</string>
		<key>chs</key>
		<string>#[01_15]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>dizzy.png</string>
		<key>chs</key>
		<string>#[01_16]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>shutup.png</string>
		<key>chs</key>
		<string>#[01_17]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>sleepy.png</string>
		<key>chs</key>
		<string>#[01_18]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>hug.png</string>
		<key>chs</key>
		<string>#[01_19]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>victory.png</string>
		<key>chs</key>
		<string>#[01_20]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>time.png</string>
		<key>chs</key>
		<string>#[01_21]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>kiss.png</string>
		<key>chs</key>
		<string>#[01_22]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>handshake.png</string>
		<key>chs</key>
		<string>#[01_23]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>call.png</string>
		<key>chs</key>
		<string>#[01_24]</string>
	</dict>
</array>
</dict>
</plist>
