<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>id</key>
	<string>com.discuz.daidai</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>呆呆男</string>
	<key>group_name_cn</key>
	<string>呆呆男</string>
	<key>group_name_en</key>
	<string>daidai</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
<array>
	<dict>
		<key>png</key>
		<string>01.gif</string>
		<key>chs</key>
		<string>#[03_01]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>02.gif</string>
		<key>chs</key>
		<string>#[03_02]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>03.gif</string>
		<key>chs</key>
		<string>#[03_03]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>04.gif</string>
		<key>chs</key>
		<string>#[03_04]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>05.gif</string>
		<key>chs</key>
		<string>#[03_05]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>06.gif</string>
		<key>chs</key>
		<string>#[03_06]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>07.gif</string>
		<key>chs</key>
		<string>#[03_07]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>08.gif</string>
		<key>chs</key>
		<string>#[03_08]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>09.gif</string>
		<key>chs</key>
		<string>#[03_09]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>10.gif</string>
		<key>chs</key>
		<string>#[03_10]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>11.gif</string>
		<key>chs</key>
		<string>#[03_11]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>12.gif</string>
		<key>chs</key>
		<string>#[03_12]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>13.gif</string>
		<key>chs</key>
		<string>#[03_13]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>14.gif</string>
		<key>chs</key>
		<string>#[03_14]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>15.gif</string>
		<key>chs</key>
		<string>#[03_15]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>16.gif</string>
		<key>chs</key>
		<string>#[03_16]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>17.gif</string>
		<key>chs</key>
		<string>#[03_17]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>18.gif</string>
		<key>chs</key>
		<string>#[03_18]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>19.gif</string>
		<key>chs</key>
		<string>#[03_19]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>20.gif</string>
		<key>chs</key>
		<string>#[03_20]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>21.gif</string>
		<key>chs</key>
		<string>#[03_21]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>22.gif</string>
		<key>chs</key>
		<string>#[03_22]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>23.gif</string>
		<key>chs</key>
		<string>#[03_23]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>24.gif</string>
		<key>chs</key>
		<string>#[03_24]</string>
	</dict>
</array>
</dict>
</plist>
