<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.discuz.kuhou</string>
	<key>version</key>
	<integer>2</integer>
	<key>group_name_tw</key>
	<string>酷猴</string>
	<key>group_name_cn</key>
	<string>酷猴</string>
	<key>group_name_en</key>
	<string>Monkey</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>png</key>
			<string>201.gif</string>
			<key>chs</key>
			<string>#[02_01]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>202.gif</string>
			<key>chs</key>
			<string>#[02_02]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>203.gif</string>
			<key>chs</key>
			<string>#[02_03]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>204.gif</string>
			<key>chs</key>
			<string>#[02_04]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>205.gif</string>
			<key>chs</key>
			<string>#[02_05]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>206.gif</string>
			<key>chs</key>
			<string>#[02_06]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>207.gif</string>
			<key>chs</key>
			<string>#[02_07]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>208.gif</string>
			<key>chs</key>
			<string>#[02_08]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>209.gif</string>
			<key>chs</key>
			<string>#[02_09]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>210.gif</string>
			<key>chs</key>
			<string>#[02_10]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>211.gif</string>
			<key>chs</key>
			<string>#[02_11]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>212.gif</string>
			<key>chs</key>
			<string>#[02_12]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>213.gif</string>
			<key>chs</key>
			<string>#[02_13]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>214.gif</string>
			<key>chs</key>
			<string>#[02_14]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>215.gif</string>
			<key>chs</key>
			<string>#[02_15]</string>
		</dict>
		<dict>
			<key>png</key>
			<string>216.gif</string>
			<key>chs</key>
			<string>#[02_16]</string>
		</dict>
	</array>
</dict>
</plist>
